<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>

<!-- <h1><%= 'Hello, EJS'%></h1> -->



<div class="l-modal">
  <div class="l-modal__bg js-modal-close"></div>
  <div class="l-modal__inner">
    <button class="c-modal__close js-modal-close">
      <span></span>
      <span></span>
    </button>

    <div class="l-modal__area">

      <div class="l-modal__inner--area">

        <div id="modal0" class="c-modal js-modal">
          <div class="c-modal__inner">
            <div class="p-mentor__box--detail">


              <h3 class="p-mentor__heading">
                名無しの権兵衛A
              </h3>

              <p class="p-mentor__txt">
                大学卒業後にヤプーに入社、その後リモート系の会社に転職、2020年に当オンラインスクールの講師として就職。<br />
              </p>

              <div class="p-mentor__skill">
                <h4 class="p-mentor__heading--skillset">
                  得意な言語
                </h4>

                <ul class="p-mentor__list">
                  <li class="p-mentor__item">
                    <p>JavaScript</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>PHP</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Python</p>
                  </li>
                </ul>
              </div>


            </div>
            <div class="p-mentor__box--img">
              <figure class="c-picture__img p-mentor__img--modal">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/unDraw/undraw_01.jpg" alt="mentor_01" loading="lazy">
                </picture>
              </figure>
              <p class="p-mentor__txt--message">
                はじめまして、当スクールでプログラミング講師として働いているメンターAです。
                私のプログラミングの経験を活かして皆さんを実践レベルのエンジニアに育成できるよう努力致します。よろしくお願い致します。
              </p>
            </div>
          </div>
        </div>

        <div id="modal1" class="c-modal js-modal">
          <div class="c-modal__inner">
            <div class="p-mentor__box--detail">


              <h3 class="p-mentor__heading">
                名無しの権兵衛B
              </h3>

              <p class="p-mentor__txt">
                大学卒業後にクーグルに入社、その後リモート系の会社に転職、2020年に当オンラインスクールの講師として就職。<br />
              </p>

              <div class="p-mentor__skill">
                <h4 class="p-mentor__heading--skillset">
                  得意な言語
                </h4>

                <ul class="p-mentor__list">
                  <li class="p-mentor__item">
                    <p>JavaScript</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>PHP</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Python</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Java</p>
                  </li>
                </ul>
              </div>


            </div>
            <div class="p-mentor__box--img">
              <figure class="c-picture__img p-mentor__img--modal">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/unDraw/undraw_05.jpg" alt="mentor_02" loading="lazy">
                </picture>
              </figure>
              <p class="p-mentor__txt--message">
                はじめまして、当スクールでプログラミング講師として働いているメンターBです。
                私のプログラミングの経験を活かして皆さんを実践レベルのエンジニアに育成できるよう努力致します。よろしくお願い致します。
              </p>
            </div>
          </div>

        </div>

        <div id="modal2" class="c-modal js-modal">
          <div class="c-modal__inner">
            <div class="p-mentor__box--detail">


              <h3 class="p-mentor__heading">
                名無しの権兵衛B
              </h3>

              <p class="p-mentor__txt">
                大学卒業後にクーグルに入社、その後リモート系の会社に転職、2020年に当オンラインスクールの講師として就職。<br />
              </p>

              <div class="p-mentor__skill">
                <h4 class="p-mentor__heading--skillset">
                  得意な言語
                </h4>

                <ul class="p-mentor__list">
                  <li class="p-mentor__item">
                    <p>JavaScript</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>PHP</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Python</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Java</p>
                  </li>
                </ul>
              </div>


            </div>
            <div class="p-mentor__box--img">
              <figure class="c-picture__img p-mentor__img--modal">
                <picture class="c-picture__img--inner">
                  <img src=".<%= filePath %>assets/images/unDraw/undraw_03.jpg" alt="mentor_03" loading="lazy">
                </picture>
              </figure>
              <p class="p-mentor__txt--message">
                はじめまして、当スクールでプログラミング講師として働いているメンターBです。
                私のプログラミングの経験を活かして皆さんを実践レベルのエンジニアに育成できるよう努力致します。よろしくお願い致します。
              </p>
            </div>
          </div>

        </div>

        <div id="modal3" class="c-modal js-modal">
          <div class="c-modal__inner">
            <div class="p-mentor__box--detail">


              <h3 class="p-mentor__heading">
                名無しの権兵衛B
              </h3>

              <p class="p-mentor__txt">
                大学卒業後にクーグルに入社、その後リモート系の会社に転職、2020年に当オンラインスクールの講師として就職。<br />
              </p>

              <div class="p-mentor__skill">
                <h4 class="p-mentor__heading--skillset">
                  得意な言語
                </h4>

                <ul class="p-mentor__list">
                  <li class="p-mentor__item">
                    <p>JavaScript</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>PHP</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Python</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Java</p>
                  </li>
                </ul>
              </div>


            </div>
            <div class="p-mentor__box--img">
              <figure class="c-picture__img p-mentor__img--modal">
                <picture class="c-picture__img--inner">
                  <img src=".<%= filePath %>assets/images/unDraw/undraw_04.jpg" alt="mentor_03">
                </picture>
              </figure>
              <p class="p-mentor__txt--message">
                はじめまして、当スクールでプログラミング講師として働いているメンターBです。
                私のプログラミングの経験を活かして皆さんを実践レベルのエンジニアに育成できるよう努力致します。よろしくお願い致します。
              </p>
            </div>
          </div>

        </div>

        <div id="modal4" class="c-modal js-modal">
          <div class="c-modal__inner">
            <div class="p-mentor__box--detail">


              <h3 class="p-mentor__heading">
                名無しの権兵衛B
              </h3>

              <p class="p-mentor__txt">
                大学卒業後にクーグルに入社、その後リモート系の会社に転職、2020年に当オンラインスクールの講師として就職。<br />
              </p>

              <div class="p-mentor__skill">
                <h4 class="p-mentor__heading--skillset">
                  得意な言語
                </h4>

                <ul class="p-mentor__list">
                  <li class="p-mentor__item">
                    <p>JavaScript</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>PHP</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Python</p>
                  </li>
                  <li class="p-mentor__item">
                    <p>Java</p>
                  </li>
                </ul>
              </div>


            </div>
            <div class="p-mentor__box--img">
              <figure class="c-picture__img p-mentor__img--modal">
                <picture class="c-picture__img--inner">
                  <img src=".<%= filePath %>assets/images/unDraw/undraw_02.jpg" alt="mentor_03" loading="lazy">
                </picture>
              </figure>
              <p class="p-mentor__txt--message">
                はじめまして、当スクールでプログラミング講師として働いているメンターBです。
                私のプログラミングの経験を活かして皆さんを実践レベルのエンジニアに育成できるよう努力致します。よろしくお願い致します。
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>




<div class="p-hero">
  <div class="p-hero__inner">

    <div class="u-dp-pc">
      <p class="c-icon--scroll">
        <span>scroll</span>
      </p>
    </div>

    <div class="p-hero__column">
      <div class="p-hero__head">
        <p class="p-hero__txt--head">
          業界最安級のオンラインスクール
        </p>
        <h1 class="p-hero__heading--main">
          60日間の積み上げで、<br class="u-dp-pc">実践レベルのスキルを身につけよう。
        </h1>
        <div class="swiper-container u-dp-sp p-hero__slider">
          <div class="swiper-wrapper p-hero__slideWrap">
            <div class="swiper-slide p-hero__slide">
              <figure class="c-picture__img p-hero__img">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/hero/hero_01.jpg" alt="hero_01">
                </picture>

                <figcaption class="c-caption p-hero__cap">
                  <div class="c-caption__inner">
                    <p class="c-caption__txt--tag">
                      <span class="c-label">WEB designer</span>
                    </p>
                    <h3 class="c-caption__heading">
                      <span class="-en">
                        MENTOR A
                      </span>
                      <span class="-ja">
                        名無しの権兵衛
                      </span>
                    </h3>
                    <p class="c-caption__txt">卒業後はカナダのソフトウェア開発企業に就職、現役エンジニアとして活動しています。</p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide p-hero__slide">
              <figure class="c-picture__img p-hero__img">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/hero/hero_02.jpg" alt="hero_02">
                </picture>

                <figcaption class="c-caption p-hero__cap">
                  <div class="c-caption__inner p-hero__inner-cap">
                    <p class="c-caption__txt--tag">
                      <span class="c-label">WEB designer</span>
                    </p>
                    <h3 class="c-caption__heading">
                      <span class="-en">
                        MENTOR A
                      </span>
                      <span class="-ja">
                        名無しの権兵衛
                      </span>
                    </h3>
                    <p class="c-caption__txt">卒業後はカナダのソフトウェア開発企業に就職、現役エンジニアとして活動しています。</p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide p-hero__slide">
              <figure class="c-picture__img p-hero__img">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/hero/hero_03.jpg" alt="hero_03">
                </picture>

                <figcaption class="c-caption p-hero__cap">
                  <div class="c-caption__inner">
                    <p class="c-caption__txt--tag">
                      <span class="c-label">WEB designer</span>
                    </p>
                    <h3 class="c-caption__heading">
                      <span class="-en">
                        MENTOR A
                      </span>
                      <span class="-ja">
                        名無しの権兵衛
                      </span>
                    </h3>
                    <p class="c-caption__txt">卒業後はカナダのソフトウェア開発企業に就職、現役エンジニアとして活動しています。</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination p-hero__slidePager"></div>
        </div>

        <p class="p-hero__txt--foot">
          当スクールの卒業生の90%以上はフリーランス、<br class="u-dp-pc">業界エンジニアへの転職を成功させ夢を実現しています。
        </p>
        <p class="c-button c-button--square p-hero__btn">
          <a href="#">
            無料で講座を体験する
          </a>
        </p>
      </div>

      <div class="p-hero__body inview u-dp-pc">
        <div class="swiper-container p-hero__slider">
          <div class="swiper-wrapper p-hero__slideWrap">
            <div class="swiper-slide p-hero__slide">
              <figure class="c-picture__img p-hero__img">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/hero/hero_01.jpg" alt="hero_01">
                </picture>

                <figcaption class="c-caption p-hero__cap">
                  <div class="c-caption__inner">
                    <p class="c-caption__txt--tag">
                      <span class="c-label">WEB designer</span>
                    </p>
                    <h3 class="c-caption__heading">
                      <span class="-en">
                        MENTOR A
                      </span>
                      <span class="-ja">
                        名無しの権兵衛
                      </span>
                    </h3>
                    <p class="c-caption__txt">卒業後はカナダのソフトウェア開発企業に就職、現役エンジニアとして活動しています。</p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide p-hero__slide">
              <figure class="c-picture__img p-hero__img">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/hero/hero_02.jpg" alt="hero_02">
                </picture>

                <figcaption class="c-caption p-hero__cap">
                  <div class="c-caption__inner">
                    <p class="c-caption__txt--tag">
                      <span class="c-label">WEB designer</span>
                    </p>
                    <h3 class="c-caption__heading">
                      <span class="-en">
                        MENTOR A
                      </span>
                      <span class="-ja">
                        名無しの権兵衛
                      </span>
                    </h3>
                    <p class="c-caption__txt">卒業後はカナダのソフトウェア開発企業に就職、現役エンジニアとして活動しています。</p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide p-hero__slide">
              <figure class="c-picture__img p-hero__img">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/hero/hero_03.jpg" alt="hero_03">
                </picture>

                <figcaption class="c-caption p-hero__cap">
                  <div class="c-caption__inner">
                    <p class="c-caption__txt--tag">
                      <span class="c-label">WEB designer</span>
                    </p>
                    <h3 class="c-caption__heading">
                      <span class="-en">
                        MENTOR A
                      </span>
                      <span class="-ja">
                        名無しの権兵衛
                      </span>
                    </h3>
                    <p class="c-caption__txt">卒業後はカナダのソフトウェア開発企業に就職、現役エンジニアとして活動しています。</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination p-hero__slidePager"></div>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="js-first-view">


  <main class="l-main">

    <section id="concept" class="l-section p-concept">
      <div class="p-concept__inner">

        <div class="inview js-scroll--fadeUp u-dp-pc" style="transition-delay: .6s;">
          <div class="p-concept__rellax js-rellax" data-rellax-speed="3" data-rellax-percentage="1">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-diamonds"></use>
            </svg>
          </div>
          <div class="p-concept__rellax js-rellax" data-rellax-speed="3" data-rellax-percentage="1">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-diamonds"></use>
            </svg>
          </div>
          <div class="p-concept__rellax js-rellax" data-rellax-speed="3" data-rellax-percentage="1">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-diamonds"></use>
            </svg>
          </div>
          <div class="p-concept__rellax js-rellax" data-rellax-speed="3" data-rellax-percentage="1">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-diamonds"></use>
            </svg>
          </div>
        </div>

        <div class="p-concept__head inview js-scroll--slideLeft" style="transition-delay: .4s;">
          <div class="c-intro p-concept__intro">
            <h2 class="c-intro__heading animate-heading">コンセプト</h2>
            <p class="c-intro__txt">
              tnblogは、未経験のエンジニアを60日間でエンジニアへ育成するオンラインスクールです。<br />
              ベテランエンジニアが講師として1000人以上在籍、徹底指導のもとあなたの夢の実現をバックアップします。また、実践レベルのカリキュラムを日々こなしていくことで60日後には即戦力レベルのエンジニアになることができます。
            </p>
          </div>
          <figure class="p-concept__bg"></figure>
        </div>


        <div class="p-concept__body">
          <ul class="p-concept__list">
            <li class="p-concept__item inview js-scroll--coverLeft">
              <figure class="c-picture__img p-concept__img--points">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/about/about_05.jpg" alt="concept_01" loading="lazy">
                </picture>
              </figure>

              <h3 class="p-concept__heading">
                全員現役エンジニア&nbsp;？
              </h3>
              <p class="p-concept__txt">
                ベテランエンジニアが<br class="u-dp-pc">学習を徹底サポート！
              </p>
            </li>
            <li class="p-concept__item inview js-scroll--coverLeft">
              <div class="">
                <figure class="c-picture__img p-concept__img--points">
                  <picture class="c-picture__img--inner">
                    <img src="<%= filePath %>assets/images/sec/about/about_03.png" alt="concept_02" loading="lazy">
                  </picture>
                </figure>

                <h3 class="p-concept__heading">
                  業界最安級&nbsp;？
                </h3>
                <p class="p-concept__txt">
                  調査手法 インターネット調査！<br class="u-dp-pc">（当社比）
                </p>
              </div>
            </li>
            <li class="p-concept__item inview js-scroll--coverLeft">
              <figure class="c-picture__img p-concept__img--points">
                <picture class="c-picture__img--inner">
                  <img src="<%= filePath %>assets/images/sec/about/about_02.png" alt="concept_03" loading="lazy">
                </picture>
              </figure>

              <h3 class="p-concept__heading">
                業界受講者数No.1&nbsp;？
              </h3>
              <p class="p-concept__txt">
                調査手法 インターネット調査！<br class="u-dp-pc">（当社比）
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <section id="feature" class="l-section p-feature">
      <div class="p-feature__inner">
        <div class="c-intro">
          <h2 class="c-intro__heading">スクールの特徴</h2>
          <p class="c-intro__txt">
          </p>
          <p class="c-intro__txt--back js-rellax" data-rellax-speed="1" data-rellax-percentage="1">
            FEATURES 01
          </p>
        </div>

        <div class="p-feature__wrap">

          <div class="p-feature__column">

            <div class="p-feature__head inview js-scroll--fadeUp">
              <h3 class="p-feature__heading">
                当スクールが選ばれる9つの理由<br />
              </h3>
              <p class="mt-12 p-feature__txt">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>

            <div class="p-feature__body inview js-scroll--slideLeft">
              <ul class="p-feature__list">
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_01.jpg" alt="feature_01" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      コーディング
                    </h3>
                    <p class="p-feature__txt--points">
                      実務レベルの指導で即戦力へ
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_02.jpg" alt="feature_02" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      定期勉強会
                    </h3>
                    <p class="p-feature__txt--points">
                      週2の勉強会で業界の最先端を知る
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_03.jpg" alt="feature_03" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      メンター
                    </h3>
                    <p class="p-feature__txt--points">
                      現役エンジニアが役100名以上在籍
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_04.jpg" alt="feature_04" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      疑問点は質問し放題
                    </h3>
                    <p class="p-feature__txt--points">
                      質問できる時間帯 11:00〜23:00
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_05.jpg" alt="feature_05" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      コーディング
                    </h3>
                    <p class="p-feature__txt--points">
                      実務レベルの指導で即戦力へ
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_06.jpg" alt="feature_06" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      定期勉強会
                    </h3>
                    <p class="p-feature__txt--points">
                      週2の勉強会で業界の最先端を知る
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_07.jpg" alt="feature_07" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      メンター
                    </h3>
                    <p class="p-feature__txt--points">
                      現役エンジニアが役100名以上在籍
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_01.jpg" alt="feature_08" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      コーディング
                    </h3>
                    <p class="p-feature__txt--points">
                      実務レベルの指導で即戦力へ
                    </p>
                  </div>
                </li>
                <li class="p-feature__item">
                  <div>
                    <figure class="c-picture__img p-feature__img">
                      <picture class="c-picture__img--inner">
                        <img src="<%= filePath %>assets/images/unDraw/undraw_02.jpg" alt="feature_09" loading="lazy">
                      </picture>
                    </figure>
                    <h3 class="p-feature__heading--points">
                      定期勉強会
                    </h3>
                    <p class="p-feature__txt--points">
                      週2の勉強会で業界の最先端を知る
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="p-feature__other inview js-scroll--fadeUp">
              <!-- <p class="p-feature__btn">
                <a href="" class="c-button c-button__border">READ MORE</a>
              </p> -->
            </div>

          </div>

        </div>


        <div class="c-intro" style="text-align: right; margin-top: 120px;">
          <p class="c-intro__txt--back -left js-rellax" data-rellax-speed="1" data-rellax-percentage="1">
            FEATURES 02
          </p>

          <h2 class="c-intro__heading">スクールの特徴</h2>
        </div>

        <div class="p-feature__wrap">
          <div class="p-feature__column p-feature__column--second">

            <div class="p-feature__head inview js-scroll--fadeUp">
              <h3 class="p-feature__heading">
                圧倒的な低価格！
              </h3>
              <p class="mt-12 p-feature__txt">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>

            <div class="p-feature__body p-feature__body--second inview js-scroll--slideRight">
              <div class="p-plan">


                <div class="p-plan__list--table -male">

                  <table class="u-dp-pc">
                    <thead>
                      <tr>
                        <th></th>
                        <th>
                          <dl>
                            <dt>
                              <div class="c-label--ribonBox">
                                <span class="c-label--ribon">当スクール</span>
                              </div>
                              プラン詳細
                              <span class="-planName">tnblog</span>
                            </dt>

                            <dd>
                              ¥<span>60,000</span>
                            </dd>

                          </dl>
                        </th>
                        <th>
                          <dl>
                            <dt>

                              プラン詳細
                              <span class="-planName">スクールA</span>

                            </dt>

                            <dd>
                              ¥<span>100,000</span>
                            </dd>

                          </dl>
                        </th>
                        <th>
                          <dl>
                            <dt>
                              プラン詳細
                              <span class="-planName">スクールB</span>

                            </dt>

                            <dd>
                              ¥<span>200,000</span>
                            </dd>

                          </dl>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>メンター対応期間</th>
                        <td>最大1年間</td>
                        <td>1ヶ月</td>
                        <td>3ヶ月</td>
                      </tr>
                      <tr>
                        <th>受講期間</th>
                        <td>60日間</td>
                        <td>30日間</td>
                        <td>10日間</td>
                      </tr>
                      <tr>
                        <th>質疑応答</th>
                        <td>11:00 ~ 19:00</td>
                        <td>12:00 ~ 18:00</td>
                        <td>15:00 ~ 20:00</td>
                      </tr>
                      <tr>
                        <th>empty</th>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                      </tr>
                      <tr>
                        <th>empty</th>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                      </tr>
                    </tbody>
                  </table>



                  <table>
                    <thead>
                      <tr>
                        <th>
                          <dl>
                            <dt>
                              <div class="c-label--ribonBox">
                                <span class="c-label--ribon">当スクール</span>
                              </div>
                              プラン詳細
                              <span class="-planName">tnblog</span>
                            </dt>

                            <dd>
                              <span>60,000</span>
                            </dd>

                          </dl>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>メンター対応期間<br />最大1年間</td>
                      </tr>
                      <tr>
                        <td>受講期間<br />60日間</td>
                      </tr>
                      <tr>
                        <td>質疑応答<br />11:00 ~ 19:00</td>
                      </tr>
                      <tr>
                        <td>empty<br />empty</td>
                      </tr>
                      <tr>
                        <td>empty<br />empty</td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <thead>
                      <tr>
                        <th>
                          <dl>
                            <dt>
                              プラン詳細
                              <span class="-planName">スクールA</span>
                            </dt>

                            <dd>
                              <span>無料</span>
                            </dd>

                          </dl>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>メンター対応期間<br />1ヶ月</td>
                      </tr>
                      <tr>
                        <td>受講期間<br />30日間</td>
                      </tr>
                      <tr>
                        <td>質疑応答<br />12:00 ~ 18:00</td>
                      </tr>
                      <tr>
                        <td>empty<br />empty</td>
                      </tr>
                      <tr>
                        <td>empty<br />empty</td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <thead>
                      <tr>
                        <th>
                          <dl>
                            <dt>
                              プラン詳細
                              <span class="-planName">スクールB</span>
                            </dt>

                            <dd>
                              <span>200,000</span>
                            </dd>

                          </dl>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>メンター対応期間<br />3ヶ月</td>
                      </tr>
                      <tr>
                        <td>受講期間<br />10日間</td>
                      </tr>
                      <tr>
                        <td>質疑応答<br />15:00 ~ 20:00</td>
                      </tr>
                      <tr>
                        <td>empty<br />empty</td>
                      </tr>
                      <tr>
                        <td>empty<br />empty</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div>

            <div class="p-feature__other inview js-scroll--fadeUp">
              <!-- <p class="p-feature__btn">
                <a href="" class="c-button c-button__border">READ MORE</a>
              </p> -->
            </div>

          </div>
        </div>





      </div>
    </section>

    <section id="mentor" class="l-section p-mentor">
      <div class="p-mentor__inner">

        <div class="c-intro">
          <h2 class="c-intro__heading animate-heading">プログラミング講師</h2>
          <p class="c-intro__txt--back js-rellax" data-rellax-speed="1" data-rellax-percentage="1">
            MENTOR
          </p>
        </div>



        <div class="inview js-scroll--slideLeft">




          <div class="swiper-container c-slider p-mentor__slider js-index-slider">

            <div class="c-slider__column mb-12">

              <h3 class="c-slider__heading">WEB COURSE</h3>
              <div class="c-slider__scrollbar js-slider-scrollbar"></div>

            </div>

            <div class="swiper-wrapper c-slider__wrap p-mentor__slideWrap">
              <div class="swiper-slide c-slider__slide p-mentor__slide">
                <div class="p-mentor__inner--slide">
                  <figure class="c-picture__img p-mentor__img js-modal-open" data-target="modal0">
                    <picture class="c-picture__img--inner">
                      <img src="<%= filePath %>assets/images/unDraw/undraw_01.jpg" alt="mentor_01" loading="lazy">
                    </picture>
                    <figcaption class="c-caption">
                      <div class="c-caption__inner">
                        <p class="c-caption__txt--tag">
                          <span class="c-label">WEB designer</span>
                        </p>
                        <h3 class="c-caption__heading">
                          <span class="-en">
                            MENTOR A
                          </span>
                          <span class="-ja">
                            名無しの権兵衛
                          </span>
                        </h3>
                      </div>
                      <p class="p-mentor__btn--modal">
                        <svg>
                          <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-search"></use>
                        </svg>
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="swiper-slide c-slider__slide p-mentor__slide">
                <div class="p-mentor__inner--slide">
                  <figure class="c-picture__img p-mentor__img js-modal-open" data-target="modal1">
                    <picture class="c-picture__img--inner">
                      <img src="<%= filePath %>assets/images/unDraw/undraw_05.jpg" alt="mentor_02" loading="lazy">
                    </picture>
                    <figcaption class="c-caption">
                      <div class="c-caption__inner">
                        <p class="c-caption__txt--tag">
                          <span class="c-label">WEB designer</span>
                        </p>
                        <h3 class="c-caption__heading">
                          <span class="-en">
                            MENTOR A
                          </span>
                          <span class="-ja">
                            名無しの権兵衛
                          </span>
                        </h3>
                      </div>
                      <p class="p-mentor__btn--modal">
                        <svg>
                          <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-search"></use>
                        </svg>
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="swiper-slide c-slider__slide p-mentor__slide">
                <div class="p-mentor__inner--slide">
                  <figure class="c-picture__img p-mentor__img js-modal-open" data-target="modal2">
                    <picture class="c-picture__img--inner">
                      <img src="<%= filePath %>assets/images/unDraw/undraw_03.jpg" alt="mentor_03" loading="lazy">
                    </picture>
                    <figcaption class="c-caption">
                      <div class="c-caption__inner">
                        <p class="c-caption__txt--tag">
                          <span class="c-label">WEB designer</span>
                        </p>
                        <h3 class="c-caption__heading">
                          <span class="-en">
                            MENTOR A
                          </span>
                          <span class="-ja">
                            名無しの権兵衛
                          </span>
                        </h3>
                      </div>
                      <p class="p-mentor__btn--modal">
                        <svg>
                          <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-search"></use>
                        </svg>
                      </p>
                    </figcaption>

                  </figure>
                </div>
              </div>
              <div class="swiper-slide c-slider__slide p-mentor__slide">
                <div class="p-mentor__inner--slide">
                  <figure class="c-picture__img p-mentor__img js-modal-open" data-target="modal3">
                    <picture class="c-picture__img--inner">
                      <img src="<%= filePath %>assets/images/unDraw/undraw_04.jpg" alt="mentor_04" loading="lazy">
                    </picture>
                    <figcaption class="c-caption">
                      <div class="c-caption__inner">
                        <p class="c-caption__txt--tag">
                          <span class="c-label">WEB designer</span>
                        </p>
                        <h3 class="c-caption__heading">
                          <span class="-en">
                            MENTOR A
                          </span>
                          <span class="-ja">
                            名無しの権兵衛
                          </span>
                        </h3>
                      </div>
                      <p class="p-mentor__btn--modal">
                        <svg>
                          <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-search"></use>
                        </svg>
                      </p>
                    </figcaption>

                  </figure>
                </div>
              </div>
              <div class="swiper-slide c-slider__slide p-mentor__slide">
                <div class="p-mentor__inner--slide">
                  <figure class="c-picture__img p-mentor__img js-modal-open" data-target="modal4">
                    <picture class="c-picture__img--inner">
                      <img src="<%= filePath %>assets/images/unDraw/undraw_02.jpg" alt="mentor_05" loading="lazy">
                    </picture>
                    <figcaption class="c-caption">
                      <div class="c-caption__inner">
                        <p class="c-caption__txt--tag">
                          <span class="c-label">WEB designer</span>
                        </p>
                        <h3 class="c-caption__heading">
                          <span class="-en">
                            MENTOR A
                          </span>
                          <span class="-ja">
                            名無しの権兵衛
                          </span>
                        </h3>
                      </div>
                      <p class="p-mentor__btn--modal">
                        <svg>
                          <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-search"></use>
                        </svg>
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="course" class="l-section p-course">
      <div class="p-course__inner">



        <div class="c-intro">
          <h2 class="c-intro__heading animate-heading">受講コース紹介</h2>
          <p class="c-intro__txt">
            5つのコースからお好きなコースをお選びいただけます。
          </p>
          <p class="c-intro__txt--back js-rellax" data-rellax-speed="1" data-rellax-percentage="1">
            COURSE
          </p>
        </div>



        <div class="p-course__wrap">
          <ul class="p-course__list">
            <li class="p-course__item inview js-scroll--rotate-delay">

              <div class="p-course__icon">
                <svg class="-star">
                  <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-html-five"></use>
                </svg>
              </div>


              <figure class="p-course__img">
                <img src="<%= filePath %>assets/images/sec/begin/begin_01.png" alt="course_01" loading="lazy">
              </figure>

              <dl class="p-course__list--detail">
                <dt>
                  web designer Course
                </dt>
                <dd>
                  ￥60,000<span class="-price">(税込)</span>
                </dd>
                <dd>
                  実践的なコーディング
                </dd>
                <dd>
                  実務レベルの開発環境の構築
                </dd>
                <dd>
                  画像加工・ワイヤーフレームの作成、デザインカンプの作成
                </dd>
                <dd>
                  レスポンシブデザイン対応
                </dd>
              </dl>

              <!-- <p class="p-course__btn">
                <button class="c-button c-button__border">READ MORE</button>
              </p> -->

            </li>
            <li class="p-course__item inview js-scroll--rotate-delay">
              <div class="p-course__icon">
                <svg class="-star">
                  <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-javascript"></use>
                </svg>
              </div>

              <figure class="p-course__img">
                <img src="<%= filePath %>assets/images/sec/begin/begin_02.png" alt="course_02" loading="lazy">
              </figure>

              <dl class="p-course__list--detail">
                <dt>
                  web designer Course
                </dt>
                <dd>
                  ￥60,000<span class="-price">(税込)</span>
                </dd>
                <dd>
                  実践的なコーディング
                </dd>
                <dd>
                  実務レベルの開発環境の構築
                </dd>
                <dd>
                  画像加工・ワイヤーフレームの作成、デザインカンプの作成
                </dd>
                <dd>
                  レスポンシブデザイン対応
                </dd>
              </dl>

              <!-- <p class="p-course__btn">
                <button class="c-button c-button__border">READ MORE</button>
              </p> -->

            </li>
            <li class="p-course__item inview js-scroll--rotate-delay">
              <div class="p-course__icon">
                <svg class="-star">
                  <use xlink:href="<%= filePath %>assets/images/sprite.svg#icon-adobephotoshop"></use>
                </svg>
              </div>
              <figure class="p-course__img">
                <img src="<%= filePath %>assets/images/sec/begin/begin_03.png" alt="course_03" loading="lazy">
              </figure>

              <dl class="p-course__list--detail">
                <dt>
                  web designer Course
                </dt>
                <dd>
                  ￥60,000<span class="-price">(税込)</span>
                </dd>
                <dd>
                  実践的なコーディング
                </dd>
                <dd>
                  実務レベルの開発環境の構築
                </dd>
                <dd>
                  画像加工・ワイヤーフレームの作成、デザインカンプの作成
                </dd>
              </dl>

              <!-- <p class="p-course__btn">
                <button class="c-button c-button__border">READ MORE</button>
              </p> -->
            </li>
          </ul>
        </div>

      </div>

    </section>

    <section id="flow" class="l-section p-flow">
      <div class="p-flow__inner">
        <div class="c-intro">
          <h2 class="c-intro__heading animate-heading">受講の流れ</h2>
          <p class="c-intro__txt">
            5つのコースからお好きなコースをお選びいただけます。
          </p>
          <p class="c-intro__txt--back js-rellax" data-rellax-speed="1" data-rellax-percentage="1">
            COURSE FLOW
          </p>
        </div>


        <div class="container inview js-scroll--fadeUp">
          <div class="row items-center">


            <div class="col-5__sm">

            </div>
            <div class="col-7__sm">

              <ul class="p-flow__list">
                <li class="p-flow__item">
                  <div class="p-flow__head">
                    <p class="p-flow__number">1</p>
                    <h3 class="p-flow__heading">受講の流れ01</h3>
                  </div>
                  <p class="p-flow__txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </li>
                <li class="p-flow__item">
                  <div class="p-flow__head">
                    <p class="p-flow__number">2</p>
                    <h3 class="p-flow__heading">受講の流れ02</h3>
                  </div>
                  <p class="p-flow__txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </li>
                <li class="p-flow__item">
                  <div class="p-flow__head">
                    <p class="p-flow__number">3</p>
                    <h3 class="p-flow__heading">受講の流れ03</h3>
                  </div>
                  <p class="p-flow__txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </li>
                <li class="p-flow__item">
                  <div class="p-flow__head">
                    <p class="p-flow__number">4</p>
                    <h3 class="p-flow__heading">受講の流れ04</h3>
                  </div>
                  <p class="p-flow__txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </li>
              </ul>

            </div>

          </div>
        </div>



      </div>
    </section>


  </main>

  <%- include('./_inc/_footer', { pageId: pageId }) %>
